.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.pagination-button {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50% !important;
    border: 1px solid #674c27 !important;
    font-size: 16px;
    margin: 0 2px;
}

/* Chỉnh lại giao diện bảng nhưng không có nền */
.table-custom {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ cho bảng */
    border-radius: 8px; /* Bo góc bảng */
    overflow: hidden;
    border: none; /* Xóa viền của bảng */
}




